.container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    /* background: url("../../../assets/148e627a192f66e42fffa4c6bdf4a777_prev_ui.png"); */
    background-repeat: repeat;
    background-size: 100px;
    gap: 5%;
    overflow: hidden;
    position: relative;
    background-color: #BEC5D7;
}
.innerContainer{
    width: 95%;
    height: 95%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 50px;
}
.box,.innerBox{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 20%;
    background-color: black;
}

.innerBox{
    background-color: #FE95DF;
    top: -2px;
    left: -2px;
}
.box:nth-child(1){
    transform: rotate(-20deg);
}
.box:nth-child(2){
    left: 40%;
    transform: rotate(10deg);
}
.box:nth-child(3){
    left: 60%;
    transform: rotate(-10deg);
}
.box:nth-child(4){
    left: 80%;
    transform: rotate(20deg);
}
.box:nth-child(2) .innerBox{
    background-color: #38D477;
}
.box:nth-child(3) .innerBox{
    background-color: #2991EC;
}
.box:nth-child(4) .innerBox{
    background-color: #FFC70F;
}