.canvasContainer{
    width: 50%;
    height: 70%;
    margin-bottom: 5%;
    position: relative;
}
.innerContainer{
    border: 5px solid #d2d2d2;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.tools{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color :white;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.toolsContainer{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
}
.toolBox{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 10px;
    opacity: 0;
    transition: .3s ease;
}
.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0bc90b;
    cursor: pointer;
}
.color:nth-child(2){
    background-color: #FF76CE;
}
.color:nth-child(3){
    background-color: #9195F6;
}
.color:nth-child(4){
    background-color: #E21818;
}
.color:nth-child(5){
    background-color: #F0DE36;
}
.toolBox label{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.picker{
    opacity: 0;
}
.radius,.btnContainer{
    margin-left: -50px;
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.brush{
    height: 3px;
    width: 150px;
    -webkit-appearance: none;
    background-color: #000000;
}
.brush::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
.btnContainer{
    margin-left: 40px;
}
.btnContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.startBtn{
    width: 99%;
    padding: 10px;
    text-align: center;
    background-color:  #2991EC;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 1%;
    right: 0.5%;
    border: 5px solid black;
    font-weight: bold;
    transition: .3s ease;
}
.startBtn:hover{
    background-color: #FF76CE
}
.word{
    position: absolute;
    top: -8%;
    right: 47%;
    z-index: 999;
    font-size: 30px;
    font-weight: bold;
}
.time{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: -7%;
}
@media screen and (max-width: 1600px) {
    .canvasContainer{
        height: 65%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 1500px) {
    .toolsContainer{
       width: 87%;
       gap: 10px;
    }
    .canvasContainer{
        width: 45%;
        height: 65%;
        margin-bottom: 10%;
    }
    .toolBox{
        padding: 20px 0px;
        gap: 10px;
    }
    .color{
        min-width: 25px;
        min-height: 25px;
    }
    .toolBox label{
        min-width: 25px;
        min-height: 25px;
    }
    .radius{
        margin-left: -50px;
        width: 100px;
    }
    .brush{
        width: 100px;
    }
}
@media screen and (max-width: 1400px) {
    .toolsContainer{
       width: 90%;
    }
    .canvasContainer{
       
        height: 60%;
        margin-bottom: 10%;
    }
    .btnContainer button{
        font-size: 14px;
    }
}
@media screen and (max-width: 1300px) {
    .canvasContainer{
        height: 50%;
        margin-bottom: 15%;
    }
}
@media screen and (max-width: 1200px) {
    .color{
        min-width: 22px;
        min-height: 22px;
    }
    .radius{
        margin-left: -10px;
    }
    .canvasContainer{
        width: 50%;
        margin-bottom: 15%;
    }
}
@media screen and (max-width: 1160px) {
    .canvasContainer{
        width: 50%;
    }
}
@media screen and (max-width: 1100px) {
    .canvasContainer{
        position: absolute;
        z-index: 999;
        width: 80%;
        top: 10px;
    }
    .toolsContainer{
        margin-top: 0;
    }
    .word{
        position: fixed;
        top: 0%;
        right: 47%;
        z-index: 999;
        font-size: 30px;
        font-weight: bold;
    }
    .time{
        position: fixed;
        top: 0%;
        font-size: 30px;
    }
}